/* You can add global styles to this file, and also import other style files */

$body-bg:     #d3d3d3;
$link-color:  #9657a6;

@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.min.css';

div.app-main {
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.blockquote {
  // https://www.webnots.com/how-to-create-block-quotes-with-bootstrap-css/

  font-size: $font-size-base;

  border: 1px solid #b3b3b3;
  border-left: 10px solid #b3b3b3;
  border-radius: 0px;
  background: #fafafa;
  margin: 10px;
  padding: 10px 20px;
}

/* Replicating this because of view encapsulation */
.calendar {
  h2 {
    font-size: $h4-font-size;
  }

  h3 {
    font-size: $h5-font-size;
  }
}

ul + p {
    margin-top: $paragraph-margin-bottom;
}
