<ng-template #content>
<div class="alert alert-danger">
This page is still being migrated and developed. All content remains subject to change.
</div>

  <div class="container p-0">
    <div class="calendar">
      <div class="row pt-3 pb-3" *ngFor="let currentDate of calendar.dates">
        <div class="col-md-2">
          <h2>{{ currentDate.date.format('ddd MMM D') }}</h2>
        </div>
        <div class="col-md-10">
          <ng-container *ngIf="currentDate.lecture">
            <h2>{{ currentDate.lecture.name }}</h2>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="container app-main">
  <div class="row">
    <div class="col">
      <h1>Calendar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </div>
</div>
